/*-------------------------
    COMMON STYLES START
------------------------ */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
body{
    margin: 0px;
    background-color: #FFFFFF;
    font-family: Poppins;
    font-style: normal;
}
/*-------------------------
    COMMON STYLES END
------------------------ */

/*-------------------------
    HEADER STYLES START
------------------------ */
header{
    background-color: #2D25A0;
    padding: 26px 120px 49px 125px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-menu ul{
    list-style: none;
    display: flex;
}
.header-menu ul a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 16px;
    margin-right: 36px;
}
.header-button{
    color: #FFFFFF;
    width: 150px;
    height: 35px;
    background-color: #E02C6D;
    text-align: center;
    padding-top: 12px;
    border-radius: 5px;
}
.header-button span{
    padding-left: 5px;
    padding-right: 5px;
}
.header-button:hover{
    color: black;
    background-color: #f5e7e7;
    transform: scale(1.2);
  }
/*-------------------------
    HEADER STYLES END
------------------------ */

/*-------------------------
    BODY STYLES START
------------------------ */

/*--------------------------------
    FIRST SECTION STYLES START
--------------------------------*/
.first-section{
    background-color: #2D25A0;
    padding: 0px 120px 88px 156px;
    display: flex;
    justify-content: space-between;
}
.first-section-title-text{
    font-weight: bold;
    font-size: 64px;
    line-height: 80px;
    color: #FFFFFF;
}
.header-image{

}
.first-section-image img{
    width: 556.01px;
    height: 438px;
}
/*--------------------------------
    FIRST SECTION STYLES END
--------------------------------*/

/*-------------------------
    BLOG STYLES START
------------------------ */
.blogs{
    margin: 70px 180px 0px 180px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 27px;
}
.blog{
    padding: 15px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}
.blog img{
    width: 300px;
    height: 256px;
}
.blog h3{
    font-weight: bold;
    font-size: 28px;
    color: #18191F;
}
.blog-descriptions{
    color: #6C6C6C;
    font-size: 16px;
}
/*-------------------------
    BLOG STYLES END
------------------------ */

/*-------------------------
    HIGHLIGHT STYLES START
------------------------ */
.highlights-container{
    margin: 165px 180px 158px 180px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 66px;
    grid-row-gap: 27px;
}
.highlight{
    width: 419px;
    height: 259px;
}
.highlight-text{
    font-weight: bold;
    font-size: 48px;
    color: #0A0826;
}
.highlight-descriptions{
    color: #6C6C6C;
}
.highlight-image img{
    width: 467px;
    height: 327px;
}
.responsive-iframe{
    width="530";
    height="315";
}
/*-------------------------
    HIGHLIGHT STYLES END
------------------------ */

/*-----------------------------
    NEWSLETTER STYLES START
---------------------------- */
.newsletter{
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    margin: 0px 100px 0px 100px;
    padding: 20px;
}
/*-------------------------
    NEWSLETTER STYLES END
------------------------ */
/*-------------------------
    BODY STYLES END
------------------------ */

/*-------------------------
    FOOTER STYLES START
------------------------ */
footer{
    margin: 0px 180px 63px 180px;
    display:block;
    padding: 30px;
    text-align: center;
}
.football-container img{
    width: 483.87px;
    height: 110px;
}
.social-media-icon-container{

}
.social-media-icon-container img{
    height: 32px;
    width: 32px;
}

.copy-right{
    font-size: 18px;
    color: black;
}
/*-------------------------
    FOOTER STYLES END
------------------------ */


/*----------------------------
    RESPONSIVE STYLES START
--------------------------- */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    body{
        /* overflow: hidden; */
    }
    /* HEADER STYLE */
    header{
        padding: 5px 0px 0px 5px;
        display: flex;
    }
    .header-menu ul{
        display: block;
    }
    .header-button{
        width: 120px;
        height: 25px;
        padding-top: 5px;
        border-radius: 5px;
    }
    
    /* FIRST SECTION */
    .first-section{
        padding: 5px 0px 0px 5px;
        display: block;
    }
    .first-section-title-text, .highlight-text{
        font-weight: bold;
        font-size: 20px;
    }
    .first-section-image img, .highlight-image img{
        width: 329px;
        height: 259.17px;
    }

    /* Blog Section */
    .blogs, .highlights-container{
        margin: 20px 10px 0px 10px;
        grid-template-columns: 1fr;
    }
    /* HIGHLIGT SECTION */
    .highlight{
        width: 319px;
        height: 259px;
    }
    .responsive-iframe{
        width="330";
        height="315";
    }

    /* NEWSLETTER STYLE */
    .newsletter{
        margin: 0px 5px 0px 5px;
        padding: 5px;
    }
    /* FOOTER STYLE */
    footer{
        display:block;
        padding-top: 10px;
        margin-left: 70PX;
    }
.football-container img{
    width: 200px;
    height: 80px;
}
.social-media-icon-container{
    display: flex;
}
.social-media-icon-container img{
    height: 32px;
    width: 32px;
}

.copy-right{
    font-size: 10px;
    color: black;
}



}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {...}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {...}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {...}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {...}
/*---------------------------
    RESPONSIVE STYLES END
-------------------------- */